
@{
    ViewData["Title"] = "Index";
}

<!-- HERO -->
<section class="section-hero" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(53, 24, 26, 0.4) 90.16%), url(https://images.alphacoders.com/533/thumb-1920-533936.jpg);">
    <div class="row align-content-center">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
            <div class="py-12 py-lg-15 text-light text-center">
                <h1 class="font-weight-bold text-white mb-3 display-4">
                    Events
                </h1>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="main-events">
    <!-- EVENTS -->
    <section class="section-events py-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="text-center section__heading">Upcomming Events</h2>
                <table class="table table-bordered px-2 px-md-5">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Event Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                        <tr>
                            <td>August 1, 2020</td>
                            <td>Sample Event</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <!-- GALLERY -->
    <section class="section-gallery py-5">
        <h2 class="text-center section__heading">Our Gallery</h2>
        <!-- Flickity HTML init -->
        <div class="carousel"
             data-flickity='{ "freeScroll": true, "wrapAround": true, "fullscreen": true, "lazyLoad": 2 }'>
            <img class="carousel-image" data-flickity-lazyload="img/img-3.jpg" />
            <img class="carousel-image" data-flickity-lazyload="img/img-4.jpg" />
            <img class="carousel-image" data-flickity-lazyload="img/img-5.jpg" />
            <img class="carousel-image" data-flickity-lazyload="img/img-6.jpg" />
            <img class="carousel-image" data-flickity-lazyload="img/img-7.jpg" />
        </div>
    </section>
</div>