
@{
    ViewData["Title"] = "Index";
}

<!-- HERO -->
<section class="section-hero" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(53, 24, 26, 0.4) 90.16%), url(https://tkwsdmc.com/blog/wp-content/uploads/2019/05/2e7b9863-85ac-4faa-aad3-096fc1826c20-GettyImages-841647034.jpg);">
    <div class="row align-content-center">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
            <div class="py-12 py-lg-15 text-light text-center">
                <h1 class="font-weight-bold text-white mb-3 display-4">
                    Discover
                </h1>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="main-discover">
    <!-- DISCOVER -->
    <section class="section-discover py-5">
        <div class="row px-2 px-md-5 pb-5 justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center section__heading">Discover</h2>
                <p class="section__subheading">
                    An aurora, sometimes referred to as polar lights, northern lights, or southern lights, is a
                    natural light display in
                    the Earth's sky, predominantly seen in the high-latitude regions. Auroras are the result of
                    disturbances in the
                    magnetosphere caused by solar wind
                </p>
            </div>
        </div>
        <div class="row px-2 px-md-5 pb-5 justify-content-center">
            <div class="col-md-2 align-self-start">
                <p class="section-discover__description">
                    These destinations will inspire even the most experienced
                    aurora chaser.
                </p>
            </div>
            <div class="col-md-4 align-self-start">
                <img class="img-fluid section-discover__img" src="img/img-1.png" alt="">
            </div>
            <div class="col-md-6 align-self-center">
                <h4 class="section-discover__heading">Northern Lights</h4>
                <p class="section-discover__content">
                    The northern lights, also known as the aurora borealis, are a spectacular natural light show
                    visible at
                    certain times of the year in the northern hemisphere. This phenomenon occurs when electrically
                    charged
                    particles from the sun enter the Earth's atmosphere and collide with gaseous particles, such as
                    oxygen
                    and nitrogen.
                </p>
            </div>
        </div>
        <div class="row px-2 px-md-5 py-5 justify-content-center">
            <div class="col-md-5 align-self-start">
                <h4 class="section-discover__heading">Northern Lights</h4>
                <p class="section-discover__content">
                    The northern lights, also known as the aurora borealis, are a spectacular natural light show
                    visible at
                    certain times of the year in the northern hemisphere. This phenomenon occurs when electrically
                    charged
                    particles from the sun enter the Earth's atmosphere and collide with gaseous particles, such as
                    oxygen
                    and nitrogen.
                </p>
            </div>
            <div class="col-md-2 align-self-end">
                <p class="section-discover__description">These destinations will inspire you</p>
            </div>
            <div class="col-md-5 align-self-start">
                <img class="img-fluid section-discover__img" src="img/img-2.png" alt="">
            </div>
        </div>
    </section>

    <!-- DISCOVER FILLER -->
    <section class="section-discover__filler">
        <div class="row">
            <div class="col-md-4">
                <p class="section-discover__description">
                    These destinations will inspire even the most experienced
                    aurora chaser.
                </p>
            </div>
        </div>
    </section>
</div>