
@{
    ViewData["Title"] = "Index";
}

<!-- HERO -->
<section class="section-hero" style="background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(53, 24, 26, 0.4) 90.16%), url(https://img5.goodfon.com/wallpaper/nbig/e/8c/autumn-colors-aurora-reflection-finland-night-aurora-boreali.jpg);">
    <div class="row align-content-center">
        <div class="offset-lg-2 col-lg-8 col-md-12 col-12">
            <div class="py-12 py-lg-15 text-light text-center">
                <h1 class="font-weight-bold text-white mb-3 display-4">
                    About
                </h1>
                <p class="lead mb-0">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
                    nisi ut aliquip ex ea commodo consequat.
                </p>
            </div>
        </div>
    </div>
</section>

<div class="main-about">
    <!-- TESTIMONIALS -->
    <section class="section-testimonials px-2 px-md-5 py-5">
        <h2 class="text-center section__heading">Testimonials</h2>
        <div class="card-columns">
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://media-exp1.licdn.com/dms/image/C5103AQHSTLd7T4-Vmw/profile-displayphoto-shrink_200_200/0?e=1595462400&v=beta&t=bCvF1ndgK45Amm8tvkmc0zNg5BMbtAqLPYRYph8IYgY"
                     alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Mark Montinola</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Software Developer</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://www.tutorialrepublic.com/examples/images/clients/1.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Maria Kate</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Designer</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://simpleqode.bitbucket.io/touche/assets/img/20.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">John Doe</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Designer</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://simpleqode.bitbucket.io/touche/assets/img/21.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Rebecca Flex</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Data Analyst</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Anna Aston</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">CEO</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>
            <div class="card pt-4">
                <img class="rounded-circle w-25 d-block mx-auto"
                     src="https://www.tutorialrepublic.com/examples/images/clients/3.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-center">Chris Fox</h5>
                    <h6 class="card-subtitle mb-2 text-muted text-center">Administrator</h6>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                    </p>
                </div>
            </div>

        </div>
    </section>

    <!-- ABOUT FILLER -->
    <section class="section-about__filler">
        <div class="row">
            <div class="col-md-3">
                <p class="section-about__description">
                    These destinations will inspire even the most experienced
                    aurora chaser.
                </p>
            </div>
        </div>
    </section>

    <!-- ABOUT -->
    <section class="section-about py-5">
        <div class="row px-2 px-md-5 pb-5 justify-content-center">
            <div class="col-md-10">
                <h2 class="text-center section__heading">About Us</h2>
                <p class="section__subheading">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                    labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </section>
</div>